@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');


*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* --bagcground-primario: #f1f5f9; */
  --bagcground-primario: #fff;
  --color-primario: #0c6c8e;
  --color-secundary: #29bbef;
}

body{
  background-color: var(--bagcground-primario);
  /* background-image: linear-gradient(-20deg, var(--color-secundary) 0%, var(--color-primario) 100%); */
  font-family: 'Poppins', sans-serif;
  padding: 0 10px;
}
@media (min-width:650px){
  body{
    display: none;
  }
}

h1, h2{
  color: var(--color-primario);
  text-align: center;
  margin: 1rem auto;
}

.title{
  font-size: 2.2rem;
  line-height: 1;
  color: var(--color-primario);
  text-shadow: 3px 3px 9px #9e9e9e;
  margin: 6rem 10px 0 10px ;

}
 
.header-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-nav .flor{
  width: 35px;
  height: 35px;
}

.header-nav .text-logo{
  width: 150px;
  height: auto;
}

.img-principal{
  display: block;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
.contenedor-img{
  position: relative;
}

.textos{
  position: absolute;
  background-color: #ffffff;
  width: 130px;
  top: 5rem;
  left: 0;
  padding: .7rem;
  border-radius: 10px;
  font-size: 11px;
  color: var(--color-primario);
  -webkit-box-shadow: 4px 4px 39px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 39px -14px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 39px -14px rgba(0,0,0,0.75);
  animation: estirar .3s ease-in-out;
}

.textos-derecha{
  position: absolute;
  background-color: #ffffff;
  width: 130px;
  top: 9rem;
  right: 0;
  padding: .7rem;
  border-radius: 10px;
  font-size: 11px;
  color: var(--color-primario);
  -webkit-box-shadow: 4px 4px 39px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 39px -14px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 39px -14px rgba(0,0,0,0.75);
  animation: bajar .2s ease-in-out;
}
.aclaracion{
  text-align: center;
  color: #a1a1a1;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 1rem;
}

.btn {
  display: block;
  width: 320px;
  height: 55px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to top, #28D146, #36ff5a, #28D146);
  color: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  animation: animado 1.5s ease-in-out infinite;
}

.btn span {
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
  /* animation: animadotwo 1.5s infinite; */
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}

@keyframes animado{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.98);
  }
  100%{
    transform: scale(1);
  }
}

footer{
  text-align: center;
  color: #a1a1a1;
  font-size: 13px;
  margin: 3rem auto 0 auto;
}

footer p{
  color: var(--color-primario);
  margin: 0;
}

footer a{
  text-decoration: none;
  color: var(--color-secundary);
}

@keyframes estirar{
  0%{transform: scale(0);}
  50%{transform: scale(1.3);}
  100%{transform: scale(1);}
}

@keyframes bajar{
  0%{transform: scale(0);}
  50%{transform: scale(1.4);}
  100%{transform: scale(1);}
}

/* 0%{opacity: 0; transform: translateX(-60px);}
60%{opacity: 0;}
100%{opacity: 1;transform: translateX(0px);} */
